.card-container{
  padding: 0 !important;
  margin: 20px;
  max-height: 281px;
  min-height: 281px;

}

.img-container{
  width: 100%;
  height: 100%;
}

.img-tatoo{
  width: 100%;
  max-height: 281px;
  min-height: 281px;
}


.card-hover{
position: absolute;
background-color: #bdc3c7;
-webkit-transition: all ease 0.5s;
transition: all ease 0.5s;
opacity: 0;
width: 100%;
height: 100%;
Bottom:0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.card-hover:hover{
  opacity: 0.80;
}

.hover-search{
  width: 50px !important;
  height: 50px !important;
  color: #fff;
}
