.containerTattoosProfile{
  overflow: scroll;
  height: 100vh;
  background-color: #F7F7F790;
}

.rowTattoosProfile{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
}

.cardTitle{
font-size: 15px;
}
